:root {
    box-sizing: border-box;
    width: calc(100% - 24px);
    max-width: 1200px;
    margin: 0px auto 0;
    overflow: visible;
    border-radius: 12px;
    background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
    :root {
        width: calc(100% - 25px);
        margin-top: 4px;
        border-radius: 8px;
    }
}

